<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <div class="browse">
        <p>GPT Oversetter</p>
        <a href="/">Main Page</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <p>GPT Oversetter</p>
    </div>
    {% block body %}
    {% endblock %}
    <br>
    <footer>
        Herman Utvikling ©
    </footer>

</body>
</html>