{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container">
<h1>Login</h1>
    <form action="/login" method="POST">
        <label for="navn">Name:</label>
        <input type="text" id="navn" name="navn" required>
    
        <label for="passord">Password:</label>
        <input type="password" id="passord" name="passord" required>
    
        <button type="submit"><a href="/order">Login</a></button>
    </form>    
    <p>Don't have an account: <a href="/register">Register</a></p>
</div>

{% endblock %}