{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

<h1>Login</h1>
<div>
    <form action="/login" method="POST">
        <label for="navn">Name:</label>
        <input type="text" id="navn" name="navn" required>
    
        <label for="passord">Password:</label>
        <input type="password" id="passord" name="passord" required>
    
        <button type="submit">Login</button>
    </form>    
    <p>Don't have an account: <a href="/register">Register</a></p>
</div>

{% endblock %}